@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

/* Scroll bar */

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a5f3fc;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
  }